<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard/index">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                <%- __("Lizy") %> 
            </a>
        </div>

        <ul class="nav navbar-nav">
        	<li><a href="/dashboard/index"><%- __("Dashboard") %></a></li>
        	<li><a href="/product/list"><%- __("Products") %></a></li>
            <li><a href="/category/list"><%- __("Categories") %></a></li>
            <li><a href="/attribute/list"><%- __("Attributes") %></a></li>
            <li><a href="/family/list"><%- __("Families") %></a></li>
            <li><a href="/locale/list"><%- __("Locales") %></a></li>
            <li><a href="/channel/list"><%- __("Channels") %></a></li>
            <li><a href="/user/list"><%- __("Users") %></a></li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%- __("Jobs") %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                  <li><a href="/job/list/import"><%- __("Import") %></a></li>
                  <li><a href="/job/list/export"><%- __("Export") %></a></li>
                </ul>
            </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Premium Bootstrap Themes &amp; Templates"><i class="fa fa-star text-yellow"></i><%- __('My account') %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/signout"><i class="fa fa-fw fa-paint-brush"></i><%- __('Logout') %></a>
                    </li>
                  
                </ul>
            </li>
           
        </ul>
    </div>
</nav>