<%- filters %>
<div class="col-lg-12 ">
<a id="btn_create_<%= entity %>" class="btn btn-default pull-right" href="/<%= entity %>/create">Create</a>
</div>

<div class="table-responsive">
 <% if (items.length > 0) { %>
 	<%- pagination %>
    <table class="table table-striped">
      <thead>
        <tr>
        <% Object.keys(fields).forEach(function(key){ %>
			  <th><%- fields[key]  %></th>
		<%	}); %>
        	<th>Actions</th>
        </tr>
      </thead>
      <tbody>
		<%	items.forEach(function(el, index) { %>
				<tr>
					<% Object.keys(fields).forEach(function(key){ 
					key = key.replace(".", "_");
					 %>
			  			<td><%- el[key] %></td>
					<% });  %>
					<td>
						<a onclick="return confirm('Do you really want to delete this item ?')" href="/<%= entity %>/remove/<%= el._id %>">Remove</a>
						<a href="/<%= entity %>/edit/<%= el._id %>">Edit</a></li>
					</td>
				</tr>
		   <%
			}) 
		%>
      </tbody>
    </table>
    <%- pagination %>
  <%  } else { %>
    <div class="col-lg-12 well">
    No items founded
    </div>
  <% } %>
</div>