

<div class="row">
	<div class="col-lg-6">
		<ul class="pagination">
			<li>
				<a href="<%= basePath  %>/1">1</a>
			</li>
			<% if (nbrItem < limit) { %>
				<% for (var i = 2; i <= nbrPage; i++) {  %>
					<li>
						<a href="<%= basePath  %>/<%= i %>"><%= i %></a>
					</li>
				<% } %>
			<% } else if (currentPage > 3 && currentPage < (nbrPage-3)) { %>
			 	<li><a href="<%= basePath  %>/<%= i %>">...</a></li>
				<% for (var i = parseInt(currentPage)-3; i <= parseInt(currentPage)+3; i++) {  %>
					<li>
						<a href="<%= basePath  %>/<%= i %>"><%= i %></a>
					</li>
				<% } %>
				<li><a href="<%= basePath  %>/<%= i %>">...</a></li>
			<% } else if (currentPage == 1) { %>
				<% for (var i = parseInt(currentPage)+1; i <= parseInt(currentPage)+3; i++) {  %>
					<li>
						<a href="<%= basePath  %>/<%= i %>"><%= i %></a>
					</li>
				<% } %>
					<li>
						<a href="<%= basePath  %>/<%= i %>">...</a>
					</li>
				
			<% } else if (currentPage > parseInt(nbrPage)-3  && currentPage <= nbrPage) { %>
				<% for (var i = parseInt(nbrPage)-3; i <= parseInt(nbrPage)-1; i++) {  %>
					<li>
						<a href="<%= basePath  %>/<%= i %>"><%= i %></a>
					</li>
				<% } %>
					
				
			<% } %>
			
			<li>
				<a href="<%= basePath  %>/<%= nbrPage %>"><%= nbrPage %></a>
			</li>
		</ul>
	</div>
	<div class="col-lg-6 pagination">
		<%= nbrItem  %>&nbsp;Record(s)
	</div>
</div>